<article
  class="modal fade"
  id="changePasswordModal"
  tabindex="-1"
  aria-hidden="true"
>
  <section class="modal-dialog modal-dialog-centered">
    <section class="modal-content">
      <header class="modal-header text-bg-success user-select-none">
        <h1 class="modal-title fs-5"></h1>
        <button
          class="btn text-light p-0 opacity-hover"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i data-lucide="x" alt="close-icon"></i>
        </button>
      </header>
      <form method="post">
        <section class="modal-body d-flex flex-column gap-4 py-2 px-3">
          <section class="user-select-none d-flex flex-column gap-3">
            <section>
              <label
                for="changePasswordModalUser"
                class="col-form-label fw-bold"
                >Usuario</label
              >
              <input
                type="text"
                class="form-control"
                id="changePasswordModalUser"
                name="username"
                value=""
                readonly
              />
            </section>
            <section>
              <label for="newPassword" class="col-form-label fw-bold"
                >Nueva contraseña</label
              >
              <div
                class="d-flex align-items-center justify-content-between position-relative"
              >
                <input
                  type="password"
                  class="form-control"
                  id="newPassword"
                  name="newPassword"
                  required
                  autocomplete="off"
                />
                <i
                  data-lucide="eye"
                  class="passwordIconContainer position-absolute end-0 mx-3"
                  id="passwordHideIcon"
                  onclick="hidePassword('newPassword')"
                ></i>
              </div>
            </section>
          </section>
        </section>
        <footer class="modal-footer">
          <button
            class="btn btn-secondary general-button"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            Cancelar
          </button>
          <%- include('../../../../partials/button', {text: "Guardar cambios",
          type: "submit", color: 'success', icon: 'save'}); %>
        </footer>
      </form>
    </section>
  </section>
</article>
