<article class="chart-container">
  <h6 class="text-secondary-emphasis text-center fw-bold py-1">
    <%=title%>
  </h6>
  <figure class="chart-item">
    <canvas
      id="<%=id%>"
      aria-label="<%=id%>"
      role="img"
    ></canvas>
  </figure>
</article>
