<article class="stats-container">
    <header class="stats-header">
        <h4 class="stats-title">
            <%= value %>
        </h4>
        <small class="stats-subtitle"><%= label %></small>
    </header>
    <figure class="d-flex justify-content-center w-50 mb-0">
        <img class="w-50 h-50" src="./public/assets/img/<%= imageFile %>" alt="<%= imageName %>"></img>
    </figure>
</article>