<li class="new-visit-form-element-container">
  <header class="new-visit-form-element-header">
    <h3 class="new-visit-form-element-title"><%= title %></h3>
  </header>
  <section class="new-visit-form-element-body">
    <span
      class="px-2 py-1 form-control"
      style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap"
      id="<%= id %>"
    ></span>
  </section>
</li>
