<ul id="stepsMenuVisitantes" class="new-visit-steps-container">
  <li class="new-visit-steps-element">
    <small id="step1Circle" class="new-visit-steps-circle-on"
      ><i data-lucide="users" alt="Visitors step icon"></i
    ></small>
    <span class="new-visit-steps-text">Visitantes</span>
  </li>
  <li class="new-visit-steps-element">
    <small id="step2Circle" class="new-visit-steps-circle-off"
      ><i data-lucide="dollar-sign" alt="Payment step icon"></i
    ></small>
    <span class="new-visit-steps-text">Pago</span>
  </li>
  <li class="new-visit-steps-element">
    <small id="step3Circle" class="new-visit-steps-circle-off"
      ><i data-lucide="user" alt="Representative step icon"></i
    ></small>
    <span class="new-visit-steps-text">Representante</span>
  </li>
  <li class="new-visit-steps-element">
    <small id="step4Circle" class="new-visit-steps-circle-off"
      ><i data-lucide="check" alt="Confirmation step icon"></i
    ></small>
    <span class="new-visit-steps-text">Confirmación</span>
  </li>
</ul>
