* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.opacity-hover:hover {
    opacity: 60%;
    transition: 0.3s;
    cursor: pointer;
}

img {
    pointer-events: none;
}

.passwordIconContainer:hover {
    opacity: 50%;
    cursor: pointer;
}

.general-button {
    padding: 0.5rem;
    min-width: 120px;
}

@media (max-width: 450px){
    .general-button{
        width: 80%
    }
}