img{
    pointer-events: none;
}

.headerText{
    font-size: larger;
}

.user-name{
    padding: 0rem 1rem 0rem 0rem;
    text-decoration: none;
    color: black;
}

.user-name:hover{
    color: rgb(87, 87, 87);
}