.history-search-container {
    display: flex;
    position: relative;
    flex: 1;
    padding: 0rem 1rem;
    max-width: 900px;
    margin: 0 auto;
}

.history-search-input {
    padding-right: 6rem;
}

.history-search-button {
    border: 1px solid transparent;
    background-color: transparent;
    margin: 0;
    position: absolute;
    right: 1.5rem;
    align-items: center;
    top: 4px;
    cursor: pointer;
}

.history-table-container {
    width: 100%;
    overflow-x: auto;
    max-width: 72vw;
    margin: 0 auto;
}

.history-table {
    width: 100%;
    min-width: 900px;
}



@media (max-width: 800px) {
    .history-table-container {
        max-width: 80vw;
    }
}

@media (max-width: 450px) {
    .history-search-container {
        max-width: 95vw;
    }

    .history-table-container {
        max-width: 90vw;
    }
}