.mainArticle{
    height: 90%;
    background-image: url("/public/assets/img/zoo-bridge.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pepe{
    line-height: 0;
}