.collapse{
    transition: 0.5s;
}

.menu-header{
    height: 10vh;
    user-select: none;
    padding: 0rem 0.5rem 0rem 0.5rem;
}

.menu-header img{
    pointer-events: none;
    height: 8vh;
}

.menu-header h5{
    font-size: 1.3rem;
}

.menu-list{
    list-style: none;
    padding: 0;
    margin-top: 0.5rem;
    user-select: none;
}

.options-menu{
    padding: 0.7rem 0rem 0.7rem 0rem; 
    display: flex; 
    gap: 0.8rem;
    border-radius: 20px;
    color: black;
    align-items: center;
}

.options-menu-icon{
    width: 2.5vw;
    height: 5vh;
    pointer-events: none;
    margin-left: 0.2rem;
    color: white;
}

.options-menu-link{
    text-decoration: none;
    color: white;
    width: 80%;
    font-size: 1rem;
}

.social-media{
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 10vh;
    margin: 0;
}

.social-media-img{
    width: 3vw;
    height: 6vh;
    cursor: pointer; /* Cambia el cursor a una mano señalando */
    transition: 0.3s;
    color: white;
}

.social-media-img:hover{
   opacity: 70%;
}