<%- include('partials/head', {title: "Perfil", css : "registro_visitantes.css",
js : "main.js"}); %>
<body style="background-color: rgb(234, 243, 250); display: flex">
  <h1>Hola</h1>
</body>
<%- include('partials/foot.ejs') %>
