<nav id="sidebar" class="collapse collapse-horizontal show">
  <aside class="container text-bg-success d-flex flex-column justify-content-between border-end border-black shadow p-2 h-100">
    <section>
      <header class="d-flex flex-wrap align-items-center justify-content-center menu-header mb-2" style="row-gap: 6px; gap: 6px; flex:1;" >
        <i
          class="p-0 h-100"
          style="transform: scaleX(-1); min-width: 50px; max-width: 50px; flex: 1;"
          data-lucide="paw-print"
          alt="logo-zoo-icon"
        ></i>
        <h5 class="p-0 my-0 text-center" style="min-width: 100px; flex: 1;">Zoo Paraguaná</h5>
      </header>
      <hr class="solid m-0" />
      <section>
        <ul class="menu-list">
          <li class="opacityHover">
            <a class="options-menu" href="/home">
              <i class="options-menu-icon" data-lucide="home" alt="home-icon"></i>
              <span>Home</span>
            </a>
          </li>
          <li class="opacityHover">
            <a class="options-menu" href="/visitantes">
              <i class="options-menu-icon" data-lucide="notebook-pen" alt="registrar-icon"></i>
              <span>Registro de Visitantes</span>
            </a>
          </li>
          <li class="opacityHover">
            <a class="options-menu" href="/historial">
              <i class="options-menu-icon" data-lucide="calendar-days" alt="historial-icon"></i>
              <span>Historial de Visitas</span>
            </a>
          </li>
          <li class="opacityHover">
            <a class="options-menu" href="/estadisticas">
              <i class="options-menu-icon" data-lucide="bar-chart-4" alt="estadisticas-icon"></i>
            <span>Estadísticas</span>
            </a>
          </li>
          <li class="opacityHover">
            <a class="options-menu" href="/novedades">
              <i class="options-menu-icon" data-lucide="mail-plus" alt="novedades-icon"></i>
              <span>Novedades</span>
            </a>
          </li>
          <% if (admin) { %>
          <li class="opacityHover">
            <a class="options-menu" href="/admin">
              <i class="options-menu-icon" data-lucide="user-round-cog" alt="ajustes-icon"></i>
              <span>Administración</span>
            </a>
          </li>
          <% } %>
          <li class="opacityHover">
            <a class="options-menu" href="/ajustes">
              <i class="options-menu-icon" data-lucide="settings" alt="ajustes-icon"></i>
              <span>Ajustes</span>
            </a>
          </li>
        </ul>
      </section>
    </section>
    <section style="min-height: 10%;">
      <hr class="solid" style="margin: 0 auto" />
      <ul class="social-media">
        <li>
          <a
            href="https://www.facebook.com/zooparaguana"
            target="_blank"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-title="Facebook"
            ><i
              class="social-media-img facebook"
              data-lucide="facebook"
              alt="facebook"
            ></i
          ></a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/mizooparaguana/"
            target="_blank"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-title="Instagram"
            ><i
              class="social-media-img instagram"
              data-lucide="instagram"
              alt="instagram"
            ></i
          ></a>
        </li>
      </ul>
    </section>
  </aside>
</nav>
