<header class="container-fluid w-100 bg-white shadow-sm py-1 position-sticky z-1 headerContainer" >
  <ul class="d-flex flex-wrap align-items-center justify-content-between w-100 px-0 py-1 m-0 user-select-none">
    <li class="p-0 d-flex mx-2" style="flex: 1; min-width: 50px;">
      <button id="sidebarButton" class="btn btn-light" data-bs-target="#sidebar" data-bs-toggle="collapse">
        <i data-lucide="menu" alt="estadisticas-icon"></i>
      </button>
    </li>
    <li class="d-flex mx-2 align-items-center p-0" style="flex: 1; min-width: 250px;">
      <img class="headerImg" src="./public/assets/img/dolar.webp" alt="dolar-icon"/>
      <h6 class="m-0 fw-semibold headerText ps-2"> Tasa del Día: <span id="dolarToday" class="text-success" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Precio del Dolar en Bolívares"></span></h6>
    </li>
    <li class="d-flex mx-2 align-items-center p-0 text-end justify-content-end dropdown" style="flex: 1; min-width: 150px;">
      <button id="user-name" class="btn btn-link text-dark text-decoration-none fw-semibold headerText py-0 px-0 d-flex gap-3 align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="opacityHover">
          <%= username %>
        </span>
        <img id="user-img" class="headerImg" src="./public/assets/img/parrot.png" alt="profile-icon"/>
      </button>
      

      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/perfil">Ver Perfil</a></li>
        <li><a class="dropdown-item fw-bold text-danger" href="/logout">Cerrar Sesión</a></li>
      </ul>
    </li>
  </ul>
</header>
