<article id="addNewVisitStep1" class="d-flex col-7 row text-center ps-3 pe-0 m-0 bg-white shadow rounded-end-4">
    <section class="col-12 text-start mt-3 px-2 user-select-none">
        <h3>Visitantes</h3>
        <p class="m-0">Ingrese la cantidad de visitantes de acuerdo a su rango de edad.</p>
    </section>

    <section class="row gy-3">
        <label for="childrenNumber" class="col-5 d-flex align-items-center ms-2 p-0 gap-3">
            <figure class="m-0 p-0">
                <img class="w-100 user-select-none" src="./public/assets/img/children.webp" alt="childrenImg">
            </figure>
            <div class="col-7 text-start d-flex flex-column gap-2">
                <span id="childrenTicket" class="fw-bold user-select-none" value="<%=childrenTicketPrice%>">Niños</span>
                <input type="number" class="form-control p-0 text-center" id="childrenNumber" autocomplete="off" oninput="changeFamilyNumber()" name="childrenNumber" min="0"/>
            </div>
        </label>
        
        <label for="adultsNumber" class="offset-1 col-5 d-flex align-items-center p-0 gap-3">
            <figure class="m-0 p-0">
                <img class="w-100 user-select-none" src="./public/assets/img/adults.webp" alt="adultsImg">
            </figure>
            <div class="col-7 text-start d-flex flex-column gap-2">
                <span id="adultsTicket" class="fw-bold user-select-none" value="<%=adultsTicketPrice%>">Adultos</span>
                <input type="number" class="form-control p-0 text-center" id="adultsNumber" autocomplete="off" oninput="changeFamilyNumber()" name="adultsNumber" min="0"/>
            </div>
        </label>
    </section>

    <section class="row gy-3">
        <label for="seniorsNumber" class="col-5 d-flex align-items-center ms-2 p-0 gap-3">
            <figure class="m-0 p-0">
                <img class="w-100 user-select-none" src="./public/assets/img/seniors.webp" alt="seniorsImg">
            </figure>
            <div class="col-7 text-start d-flex flex-column gap-2">
                <span id="seniorsTicket" class="fw-bold user-select-none" value="<%=seniorsTicketPrice%>">Adultos Mayores</span>
                <input type="number" class="form-control p-0 text-center" id="seniorsNumber" autocomplete="off" oninput="changeFamilyNumber()" name="seniorsNumber" min="0"/>
            </div>
        </label>

        <label for="totalFamily" class="offset-1 col-5 d-flex align-items-center p-0 gap-3">
            <figure class="m-0 p-0">
                <img class="w-100 user-select-none" src="./public/assets/img/family.webp" alt="familyImg">
            </figure>
            <div class="col-7 text-start d-flex flex-column gap-2">
                <span class="fw-bold user-select-none">Total</span>
                <input type="text" class="form-control p-0 text-center" readonly id="totalFamily" value=0 name="totalFamily" required/>
            </div>
        </label>
    </section>

    <section class="row text-center mt-5 mb-4 d-flex justify-content-center align-items-center">
        <button type="button" onclick="validateStep1()" class="btn btn-success col-2 p-1">Siguiente</button>
    </section>
</article>