<nav class="container-fluid text-white col-2 d-flex flex-column justify-content-between" style="background-color:#198754; border-right: 1px solid black; height: 100vh; box-shadow: rgb(148, 148, 148) 1px 1px 8px 1px;" id="side_bar">
    <section>
        <section class="row d-flex align-items-center menu-header">
            <img class="col-3 p-0" src="./public/assets/img/pata-blanca.png">
            <h5 class="col-9 p-0 m-0" style="text-align: center;">Zoo Paraguaná</h5>  
        </section>
        <hr class="solid" style="margin: 0 auto;">
        <section>
            <ul class="menu-list">
                <li class="options-menu">
                    <img src="./public/assets/img/inicio.png" class="options-menu-icon">
                    <a class="options-menu-link" href="/inicio">Inicio</a>
                </li>
                <li class="options-menu">
                    <img src="./public/assets/img/registrar.png" class="options-menu-icon">
                    <a class="options-menu-link" href="/registro">Registrar Visitantes</a>
                </li>
                <li class="options-menu">
                    <img src="./public/assets/img/historial.png" class="options-menu-icon">
                    <a class="options-menu-link" href="/historial">Historial Diario</a>
                </li>
                <li class="options-menu">
                    <img src="./public/assets/img/ajustes.png" class="options-menu-icon">
                    <a class="options-menu-link" href="/ajustes">Ajustes</a>
                </li>
            </ul>
        </section>
    </section>
    <section>
        <hr class="solid" style="margin: 0 auto;">
        <ul class="social-media">
            <li>
                <a href="https://www.facebook.com/zooparaguana" target="_blank"><img class="social-media-img" src="./public/assets/img/facebook.png" alt="facebook"></a>
            </li>
            <li>
                <a href="https://www.instagram.com/mizooparaguana/" target="_blank"><img class="social-media-img" src="./public/assets/img/instagram.png" alt="instagram"></a>
            </li>
        </ul>
    </section>
</nav>