<nav id="sidebar" class="collapse collapse-horizontal show col-2">
  <article class="container text-bg-success d-flex flex-column justify-content-between border-end border-black vh-100 shadow">
    <section>
      <header class="row d-flex align-items-center menu-header">
        <i
          class="col-3 p-0 h-100"
          style="transform: scaleX(-1);"
          data-lucide="paw-print"
          alt="logo-zoo-icon"
        ></i>
        <h5 class="col-9 p-0 m-0 text-center">Zoo Paraguaná</h5>
      </header>
      <hr class="solid m-0" />
      <section>
        <ul class="menu-list">
          <li class="options-menu opacityHover">
            <i class="options-menu-icon" data-lucide="home" alt="inicio-icon"></i>
            <a class="options-menu-link" href="/inicio">Inicio</a>
          </li>
          <li class="options-menu opacityHover">
            <i
              class="options-menu-icon"
              data-lucide="notebook-pen"
              alt="registrar-icon"
            ></i>
            <a class="options-menu-link" href="/visitantes">Registrar Visitantes</a>
          </li>
          <li class="options-menu opacityHover">
            <i
              class="options-menu-icon"
              data-lucide="calendar-days"
              alt="historial-icon"
            ></i>
            <a class="options-menu-link" href="/historial">Historial Diario</a>
          </li>
          <li class="options-menu opacityHover">
            <i
              class="options-menu-icon"
              data-lucide="bar-chart-4"
              alt="estadisticas-icon"
            ></i>
            <a class="options-menu-link" href="/estadisticas">Estadísticas</a>
          </li>
          <li class="options-menu opacityHover">
            <i
              class="options-menu-icon"
              data-lucide="settings"
              alt="ajustes-icon"
            ></i>
            <a class="options-menu-link" href="/ajustes">Ajustes</a>
          </li>
          <% if (admin) { %>
          <li class="options-menu opacityHover">
            <i
              class="options-menu-icon"
              data-lucide="user-round-cog"
              alt="ajustes-icon"
            ></i>
            <a class="options-menu-link" href="/admin">Administración</a>
          </li>
          <% } %>
        </ul>
      </section>
    </section>
    <section>
      <hr class="solid" style="margin: 0 auto" />
      <ul class="social-media">
        <li>
          <a
            href="https://www.facebook.com/zooparaguana"
            target="_blank"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-title="Facebook"
            ><i
              class="social-media-img facebook"
              data-lucide="facebook"
              alt="facebook"
            ></i
          ></a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/mizooparaguana/"
            target="_blank"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-title="Instagram"
            ><i
              class="social-media-img instagram"
              data-lucide="instagram"
              alt="instagram"
            ></i
          ></a>
        </li>
      </ul>
    </section>
  </article>
</nav>
