<nav class="navbar my-2 user-select-none">
  <section class="news-search">
    <form class="news-search-container" role="search">
      <input
        class="form-control"
        type="search"
        aria-label="Search"
        name="filter"
        value="<%=searchFilter%>"
        autocomplete="off"
        title="Ingrese una palabra clave para realizar una búsqueda"
        placeholder="Buscar..."
      />

      <button type="submit" class="news-search-button">
        <i data-lucide="search" alt="search"></i>
      </button>
    </form>
    <button
      class="btn btn-success d-flex align-items-center justify-content-center gap-2"
      data-bs-toggle="modal"
      data-bs-target="#generalNewModal"
      data-bs-action="create"
      data-bs-user="<%=username%>"
    >
      <i
        data-lucide="plus"
        alt="plus"
      ></i>
      Agregar Novedad
    </button>
  </section>
</nav>
