<a
  href="<%= link %>"
  target="_blank"
  data-bs-toggle="tooltip"
  data-bs-placement="top"
  data-bs-title="<%= title %>"
  ><i class="sidebar-social-media-link opacity-hover" data-lucide="<%= icon %>" alt="<%= title %>"></i
></a>
