<nav class="navbar m-0 user-select-none my-2">
  <section class="container-fluid">
    <form
      class="history-search-container"
      role="search"
    >
      <input
        class="form-control pe-5"
        type="search"
        aria-label="Search"
        name="filter"
        value="<%=searchFilter%>"
        autocomplete="off"
        title="Ingrese una palabra clave para realizar una búsqueda"
        placeholder="Buscar..."
      />
      <button type="submit" class="history-search-button">
        <i data-lucide="search" alt="search"></i>
      </button>
    </form>
  </section>
</nav>
