<li class="modal-list-element">
  <label class="modal-list-element-label" for="<%=name%>View"><%=title%></label>
  <span
    id="<%=name%>View"
    class="px-2 py-1 form-control modal-list-element-input"
  ></span>
</li>
